<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quality Management Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.0.1/progressbar.min.js"></script>
    <meta charset="utf-8">
    <style>
        body {
            background-color: #fefefe;
        }
        .col-centered {
            float: none;
            margin: 0 auto;
        }
        th p, td p {
            text-align: center;
            margin: 0 0 2px;
        }
        th {
            background-color: #f3f3f3;
        }
        h5 {
          font-weight: bold;
        }
        #title {
          text-align: center;
        }
        .script {
          font-family: "Seaweed Script";
          text-align: center;
          font-size: 20px;
          position: relative;
          margin:0;
        }
        .script span {
          padding: 0 0.3em;
          background-color: #fefefe;
        }
        .script:before {
          content:"";
          display: block;
          position: absolute;
          z-index:-1;
          top: 50%;
          width: 100%;
          border-bottom: 3px solid;
        }
        .text1 {
          font-size: 20px;
          text-align: center;
        }
        .text2 {
          padding-top: 10px;
          font-size: 30px;
          text-align: center;
        }
        .title {
          margin: 10% auto;
        }
        #date {
          font-size: 12px;
        }
    </style>
    <script>
      {% for result in query("get_release_date") %}
      var release_date = new Date('{{ result.releasedate }}');
      {% endfor %}
      var NB_MS_PER_DAY = 24*3600*1000;
      var current_time = new Date().setHours(0, 0, 0, 0);
      var diff = release_date.getTime() -current_time;
      var duration = diff/NB_MS_PER_DAY;
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="col-md-12 title">
              <p class="script"><span>Product version X.Y.Z</span></p>
              <p class="text2">Test Execution Report</p>
              <p class="script"><span id="date"></span></p>
          </div>
          <div class="col-md-6">
            <div class="col-lg-6 col-centered">
              <h5>ETA</h5>
              <br /><br />
              <h5 class="col-centered" id="duration"></h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-lg-6 col-centered">
              <h5>Progress</h5>
              <br />
              <div id="progress"></div>
              <br />
            </div>
          </div>
        {% block content %}
          <div class="col-md-6">
            <div class="col-lg-6 col-centered">
              <h5>Execution status</h5>
            </div>
            <canvas id="execution-status-chart"></canvas>
          </div>
          <script>
            var _labels = [];
            var _data = [];
            var _colors = [];

            {% for result in query("get_execution_status") %}
              _labels.push('{{ result.label }}');
              _data.push({{ result.total }});
              {% if result.label == 'FAILED' %}
              _colors.push('rgba(217, 83, 79, 0.8)');
              {% elif result.label == 'NOT RUN' %}
              _colors.push('rgba(210, 210, 210, 0.8)');
              {% elif result.label == 'PASSED' %}
              _colors.push('rgba(92, 184, 92, 0.8)')
              {% elif result.label == 'BLOCKED' %}
              _colors.push('rgba(240, 173, 78, 0.8)')
              {% endif %}
            {% endfor %}

            var data = {
                datasets: [{ data: _data, label: 'Execution Status', backgroundColor: _colors}],
                labels: _labels,
            };

            new Chart($("#execution-status-chart"), {
                type: 'doughnut',
                data: data,
                // options: options
            });
          </script>
          <div class="col-md-6">
            <div class="col-lg-6 col-centered">
              <h5>Execution history</h5>
            </div>
            <canvas id="execution-history-chart"></canvas>
            <script>
              var actual_data = [];
              var expected_data = [];

              var _labels = [];
              {% for test_cases_stats in query("get_test_cases_count") %}
              var total = {{ test_cases_stats.total }};
              {% endfor %}
              {% for result in query("get_execution_history") %}
                actual_data.push({{ result.total }});
                expected_data.push(total-(expected_data.length*total/duration));
                _labels.push('{{result.date}}');
              {% endfor %}

              for(idx=expected_data.length-1;idx<duration;idx++) {
                time = new Date(_labels[idx]).getTime() + NB_MS_PER_DAY;
                date = new Date(time);
                expected_data.push(total-(expected_data.length*total/duration));
                _labels.push(date.getFullYear()+'/'+(date.getMonth()+1)+'/'+date.getDate())
              }

              var data = {
                  labels: _labels,
                  datasets: [{data: actual_data, label: 'Actual Execution (# tests)', fill: false, borderColor: 'rgba(92, 184, 92, 0.8)'},
                             {data: expected_data, label: 'Ideal Execution (# tests)', fill: false, borderColor: 'rgba(240, 173, 78, 0.8)'}],
              };

              var chart = new Chart($('#execution-history-chart'), {
                  type: 'line',
                  data: data,
                  scaleStartValue: 0,
              })
            </script>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <div class="col-lg-6 col-centered">
              <h5>Workload status</h5>
            </div>
            <canvas id="assignee-workload-chart"></canvas>
            <script>
              var actual_data = [];
              var expected_data = [];
              var _labels = [];

              {% for test_cases_stats in query("get_test_cases_workload") %}
              var workload = {{ test_cases_stats.total }};
              {% endfor %}

              {% for result in query("get_workload_by_assignee") %}
                _labels.push('{{result.assignee}}');
                actual_data.push({{result.workload}});
              {% endfor %}

              {% for result in query("get_assignees") %}
                if($.inArray('{{result.name}}', _labels)==-1) {
                  _labels.push('{{result.name}}');
                  actual_data.push(0);
                }
              {% endfor %}

              for(idx=0;idx<_labels.length;idx++) {
                expected_data.push(workload/_labels.length);
              }

              var data = {
                  labels: _labels,
                  datasets: [{ label: 'Actual workload (hours)', data: actual_data, fill: false, borderColor: 'rgba(92, 184, 92, 0.8)'},
                             { label: 'Ideal workload (hours)', data: expected_data, fill: false, borderColor: 'rgba(240, 173, 78, 0.8)'}],
              };

              var chart = new Chart($('#assignee-workload-chart'), {
                  type: 'radar',
                  data: data,
                  scaleStepWidth: 1,
                  scaleStartValue: 0
              });
            </script>
          </div>
          <div class="col-md-6">
            <div class="col-lg-6 col-centered">
              <h5>Workload history</h5>
            </div>
            <canvas id="workload-history-chart"></canvas>
            <script>
              var actual_data = [];
              var expected_data = [];
              var _labels = [];

              {% for test_cases_stats in query("get_test_cases_workload") %}
              var total = {{ test_cases_stats.total }};
              {% endfor %}

              {% for result in query("get_workload_history") %}
                actual_data.push({{ result.workload }});
                expected_data.push(total-(expected_data.length*total/duration));
                _labels.push('{{result.date}}');
              {% endfor %}

              for(idx=expected_data.length-1;idx<duration;idx++) {
                time = new Date(_labels[idx]).getTime() + NB_MS_PER_DAY;
                date = new Date(time);
                expected_data.push(total-(expected_data.length*total/duration));
                _labels.push(date.getFullYear()+'/'+(date.getMonth()+1)+'/'+date.getDate())
              }

              var data = {
                  labels: _labels,
                  datasets: [{data: actual_data, label: 'Actual Execution (hours)', fill: false, borderColor: 'rgba(92, 184, 92, 0.8)'},
                             {data: expected_data, label: 'Ideal Execution (hours)', fill: false, borderColor: 'rgba(240, 173, 78, 0.8)'}],
              };

              var chart = new Chart($('#workload-history-chart'), {
                  type: 'line',
                  data: data,
                  scaleStartValue: 0,
              })
            </script>
          </div>
        </div>
        <br />
        {% for test_group in query("get_test_groups") %}
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3">
              <h4>{{ test_group.name }} status</h4>
              <table class="testcases table table-bordered">
                <tr>
                  <th><p>status</p></th>
                  <th><p>count</p></th>
                </tr>
              {% for test_case in query("get_test_cases_count_per_group", test_group.name) %}
                <tr><td><p>TOTAL</p></td><td><p>{{ test_case.total }}</p></td></tr>
              {% endfor %}
              {% for test_case in query("get_test_cases_stats", test_group.name) %}
                <tr><td><p>{{ test_case.status }}</p></td><td><p>{{ test_case.count }}</p></td></tr>
              {% endfor %}
              </table>
            </div>
            <div class="col-md-9">
              <h4>{{ test_group.name }} conclusion</h4>
            </div>

            <div class="col-md-12">
              <h4>{{ test_group.name }} details</h4>
              <table class="testcases col-md-12 table table-bordered">
                <tr>
                  <th><p>label</p></th>
                  {% for test_subsubgroup in query("get_test_subsubgroups", test_group.name) %}
                  <th><p>{{ test_subsubgroup.name }}</p></th>
                  {% endfor %}
                </tr>
                {% for test_subgroup in query("get_test_subgroups", test_group.name) %}
                <tr>
                  <td><p>{{ test_subgroup.name }}</p></td>
                {% for test_case in query("get_test_cases", (test_group.name, test_subgroup.name)) %}
                  <td><p><a href="{{test_case.link}}">{{ test_case.status }}</a></p></td>
                {% endfor %}
                {% endfor %}
                </tr>
              </table>
            </div>
          </div>
        </div>
        {% endfor %}

        {% endblock %}
    </div>
  </body>
  <script>
    $(document).ready(function() {
        var row = '';
        $('.table.testcases tr').each(function(idx, tr) {
            row = $(tr).text();
            if(row.indexOf("FAILED")!=-1) {
                $(tr).addClass('danger');
            } else if(row.indexOf("BLOCKED")!=-1) {
                $(tr).addClass('warning');
            } else if(row.indexOf("NOT RUN")!=-1) {
                $(tr).addClass('active');
            } else if(row.indexOf("PASSED")!=-1) {
                $(tr).addClass('success');
            }
        });

        $("#duration").text(duration + " day(s) left");

        var date = new Date();
        date.setHours(0, 0, 0, 0);
        $("#date").text(date.toDateString())

        var bar = new ProgressBar.SemiCircle('#progress', {
          strokeWidth: 6,
          color: '#FFEA82',
          trailColor: '#eee',
          trailWidth: 1,
          easing: 'easeInOut',
          duration: 1400,
          svgStyle: null,
          text: {
            value: '',
            alignToBottom: false
          },
          from: {color: '#FFEA82'},
          to: {color: '#ED6A5A'},
          // Set default step function for all animate calls
          step: (state, bar) => {
            bar.path.setAttribute('stroke', state.color);
            var value = Math.round(bar.value() * 100);
            if (value === 0) {
              bar.setText('0%');
            } else {
              bar.setText(value + '%');
            }

            bar.text.style.color = state.color;
          }
        });
        bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        bar.text.style.fontSize = '2rem';

        bar.animate(workload/(duration*8));
    });
  </script>
</html>