<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quality Management Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <script>

    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        {% block content %}
          <div class="col-md-6">
            <div class="title">
              <h5>Execution status</h5>
            </div>
            <canvas id="execution-status-chart"></canvas>
          </div>
          <script>
            var _labels = [];
            var _data = [];
            var _colors = [];

            {% for result in query("get_execution_status") %}
              _labels.push('{{ result.label }}');
              _data.push({{ result.total }});
              {% if result.label == 'FAILED' %}
              _colors.push('rgba(217, 83, 79, 0.8)');
              {% elif result.label == 'NOT RUN' %}
              _colors.push('rgba(210, 210, 210, 0.8)');
              {% elif result.label == 'PASSED' %}
              _colors.push('rgba(92, 184, 92, 0.8)')
              {% elif result.label == 'BLOCKED' %}
              _colors.push('rgba(240, 173, 78, 0.8)')
              {% endif %}
            {% endfor %}

            var data = {
                datasets: [{ data: _data, label: 'Execution Status', backgroundColor: _colors}],
                labels: _labels,
            };

            new Chart($("#execution-status-chart"), {
                type: 'doughnut',
                data: data,
                // options: options
            });
          </script>
          <div class="col-md-6">
            <div class="title">
              <h5>Execution history</h5>
            </div>
            <canvas id="execution-history-chart"></canvas>
            <script>
              var _data = [];
              {% for result in query("get_execution_history") %}
                _data.push({x: '{{ result.date }}', y: {{ result.total }}});
              {% endfor %}

              var data = {
                  datasets: [{ data: _data, label: 'Execution History'}],
              };

              var chart = new Chart($('#execution-history-chart'), {
                  type: 'line',
                  data: data
              })
            </script>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="title">
              <h5>Workload status</h5>
            </div>
            <canvas id="assignee-workload-chart"></canvas>
            <script>
              var _data = [];
              var _labels = [];
              {% for result in query("get_workload_by_assignee") %}
                _labels.push('{{result.assignee}}');
                _data.push({{result.workload}});
              {% endfor %}

              {% for result in query("get_assignees") %}
                if($.inArray('{{result.name}}', _labels)==-1) {
                  _labels.push('{{result.name}}');
                  _data.push(0);
                }
              {% endfor %}

              var data = {
                  labels: _labels,
                  datasets: [{ label: 'Workload', data: _data}],
              };

              var chart = new Chart($('#assignee-workload-chart'), {
                  type: 'radar',
                  data: data
              });
            </script>
          </div>
          <div class="col-md-6">
            <div class="title">
              <h5>Workload history</h5>
            </div>
            <canvas id="workload-history-chart"></canvas>
            <script>
              var _data = [];
              {% for result in query("get_workload_history") %}
                _data.push({x: '{{ result.date }}', y: {{ result.workload }}});
              {% endfor %}

              var data = {
                  datasets: [{ data: _data, label: 'Workload History'}],
              };

              var chart = new Chart($('#workload-history-chart'), {
                  type: 'line',
                  data: data
              })
            </script>
          </div>
        </div>
        <dib class="row">
          <div class="col-md-6">
            <div class="title">
              <h5>Group details </h5>
            </div>
            <table class="testcases table-striped">
            {% for testcase in query("get_test_plans") %}
              {% if testcase.status == 'FAILED' %}
                {% set class = 'danger' %}
              {% elif testcase.status == 'PASSED' %}
                {% set class = 'success' %}
              {% elif testcase.status == 'BLOCKED' %}
                {% set class = 'warning' %}
              {% elif testcase.status == 'NOT RUN' %}
                {% set class = 'active' %}
              {% endif %}
              <tr class="testcase {{ class }}">
                <td>{{ testcase.id }}</td>
                <td>{{ testcase.name }}</td>
                <td>{{ testcase.status }}</td>
              </tr>
            {% endfor %}
            </table>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </body>
</html>